<div class="map-location-overlay">
  <h1><i class="fa fa-circle-o-notch fa-spin"></i><br /><br />Finding your location...</h1>
</div>

<div class="map-wrapper">
  <div class="map-left">
    <div class="map-filter">
      <form class="map-filter-inner">
        <div class="map-filter-item"><label>Distance: <br />
        {{input type="range" min="0" max="20" step="0.1" value=filterDistance}}</label> within {{filterDistance}} miles</div>
        <div class="map-filter-item"><label>Date: <br />
        {{input type="range" min="0" max="7" step="1" value=filterDate}}</label> next {{filterDate}} days <br/></div>
        <div class="map-filter-item"><label>Show:</label><br />
        <label>{{input type="checkbox" checked=filterFriends}} Friends</label>
        <label>{{input type="checkbox" checked=filterPublic}} Public</label></div>
      </form>
    </div>
    <div class="map-results">
      {{#each model as |event|}}
        {{#link-to "event" event.id}}
          <div class="map-results-item">
            {{#slick-slider variableWidth=true autoplay=true autoplaySpeed=1000}}
              {{#each event.images as |image|}}
              <div class="map-results-item-image"><img src={{image}} /></div>
              {{/each}}
            {{/slick-slider}}

            <h2>{{event.title}}</h2>
            <h3>Hosted by: {{event.host.name}}</h3>
          </div>
        {{/link-to}}
      {{/each}}

    </div>
            <button class="btn create-button" {{action "create"}}>Create Event</button>
  </div>
  <div class="map-right">
    {{#g-map lat=37.7833 lng=-122.4167 zoom=12 as |context|}}
      {{#each model as |event|}}
        {{g-map-marker context lat=event.lat lng=event.lng}}
      {{/each}}
    {{/g-map}}
  </div>
</div>


    {{#bs-modal footer=false open=openCreateModal title="Create Group"}}

  <div class="container-fluid">

  <h1>Create Group</h1> 
  <h3>Personal Details</h3>

    <div class="form-group">
  <label for="usr">Name</label>
  <input type="text" class = "form-control" id="usr">
</div>
    <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" placeholder="Street Address">
  </div>

<form class ="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="city" placeholder="City">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="state" placeholder="State">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="Zip">
  </div>
</form>
<h3>I am a</h3>
<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-primary">Guest</button>
  <button type="button" class="btn btn-primary">Host</button>
  <button type="button" class="btn btn-primary">Potlucker</button>
</div>
<h3> Number of people I am looking for </h3>
<div class = "form-group">
  <input type="text" class = "form-control" id="num">
</div>
<div class="form-group">
  <label for="comment">Additional Comments</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
<button type="button" class="btn btn-primary btn-block">Submit!</button>
</div>

      {{/bs-modal}}
